body {
  font-family: monospace;
}
.container {
  border: 3px solid rgba(255, 255, 79, 0.6);
  border-radius: 20px;
  padding: 15px 5px 5px 0px;
  width: 45%;
  display: block;
  margin: 60px auto 5px auto;
  box-shadow: 2px 2px 15px rgb(128, 126, 126);
}
.currentWeatherBorder {
  border: 2px solid rgba(122, 137, 219, 0.3);
  max-width: 350px;
  border-radius: 20px;
  margin: 5px 0px 20px 35px;
  box-shadow: 1px 1px 6px rgb(128, 126, 126);
}

.currentEmoji {
  font-size: 65px;
  text-align: center;
  margin-bottom: 10px;
}

.temperature {
  text-align: right;
  font-size: 30px;
}

input {
  margin: 10px -5px 10px 10px;
}
.enterCity {
  width: 325px;
  padding: 5px;
}
.row {
  margin: 0 auto;
}
.precipWinds {
  text-align: right;
}
.weekDays,
.weatherDescription {
  text-align: center;
}
.forecast {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  padding: 10px 0 0 10px;
}
.currentCityName {
  padding: 0 0 10px;
}
.cityDisplayName {
  font-size: 44px;
  font-style: oblique;
  margin: 0 auto;
}
.lastUpdatedTime {
  font-size: 16px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.65);
  padding: 0;
}
.currentTemp {
  font-size: 50px;
  margin: 0 auto;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.86);
}
.currentTemp .degrees {
  color: rgba(0, 0, 0, 0.75);
}
.weatherDescription {
  font-size: 14px;
  margin: 3px 0 0 0;
}
.weathDescriptionWords {
  font-style: italic;
}
.precipWinds {
  font-size: 20px;
  margin-top: 75px;
  font-weight: 100;
}
.weekDays {
  font-size: 20px;
  font-style: italic;
  opacity: 0.9;
}
.emojiDays {
  font-size: 46px;
  margin: 0 auto;
}
.tempDays {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-size: 16px;
}
.githubLink {
  font-size: 13px;
  text-indent: 555px;
}
.humiditydescrip,
.windsdescrip {
  opacity: 0.7;
}
.degrees {
  font-size: 18px;
  vertical-align: text-top;
  text-decoration: none;
  cursor: default;
}
.farenheitLink,
.celsiusLink {
  text-decoration: none;
  cursor: default;
}
.degrees .active {
  color: black;
}
